:root {
  --bg-light: #ffffff;
  --text-light: #000000;
  
  --bg-dark: #121212;
  --text-dark: #ffffff;
}

#toggleTheme:hover,
#toggleTheme:focus {
  background-color: transparent;
  box-shadow: none;
}

/* Global Light/Dark Mode */
body.light-mode {
  background-color: var(--bg-light);
  color: var(--text-light);
}

body.dark-mode {
  background-color: var(--bg-dark);
  color: var(--text-dark);
}

/* Form elements */
body.dark-mode input,
body.dark-mode select,
body.dark-mode textarea {
  background-color: #1e1e1e;
  color: var(--text-dark);
  border: 1px solid #444;
}

body.dark-mode input:focus,
body.dark-mode select:focus,
body.dark-mode textarea:focus {
    background-color: var(--form-bg-dark);
    color: var(--text-dark);
    border: 1px solid var(--form-border-dark);
    box-shadow: none;
}

/* Card styles */
body.dark-mode .card {
  background-color: #1e1e1e;
  color: var(--text-dark);
  border: 1px solid #444;
}

body.dark-mode .card i {
  color: var(--text-dark);
}

body.dark-mode .card .btn {
  background-color: #444;
  border-color: #444;
  color: var(--text-dark);
}

.counter-group {
  margin-bottom: 10px;
}

label.form-label {
  font-size: 1.1rem;
  font-weight: 600;
}

body.dark-mode .text-muted {
  color: #aaa;
}

body.dark-mode ::placeholder {
  color: #ccc;
  opacity: 1;
}

label.safety-label {
  font-size: 1.1rem; /* Same as form-label */
  font-weight: 600;  /* Same as form-label */
}

#output {
  height: 300px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

